.footer-container {
	top: 2679px;
	left: 0px;
	width: 1290px;
	height: 60px;
	background: #f5f5f5 0% 0% no-repeat padding-box;
	opacity: 1;
}
.footer-container-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#copyright {
	height: 17px;
	font: normal normal bold 14px/34px Lato;
	letter-spacing: 0px;
	color: #59625a;
	opacity: 1;
	margin-left: 30px;
	margin-top: 15px;
}
.terms-privacy-box {
	margin-left: 170px;
	margin-top: 15px;
}
#privacy-text {
	top: 2802px;
	left: 1131px;
	width: 86px;
	height: 17px;
	text-align: left;
	font: normal normal bold 14px/34px Lato;
	letter-spacing: 0px;
	color: #59625a;
	opacity: 1;
	padding-left: 10px;
	padding-right: 5px;
}

#terms-text {
	top: 2802px;
	left: 1237px;
	width: 102px;
	height: 17px;
	text-align: left;
	font: normal normal bold 14px/34px Lato;
	letter-spacing: 0px;
	color: #59625a;
	opacity: 1;
	padding-left: 10px;
	padding-right: 5px;
}
