.container {
    /* border:1px solid black; */
    height: 500px;
    width:70%;
    margin-top: 50px;
}
.about-heading-box {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.about-heading-box > h3 {
    font-family:'Poppins';
    font-weight: bold;
    letter-spacing:1px;
    border-bottom: 2px solid green;
}
.about-heading-box > span {
    font-family:'cursive';
    font-weight: 500;
    color:rgb(76, 72, 72);
    margin-bottom: 10px;
}
.about-box {
    /* border:1px solid red; */
    height: 450px;
    box-shadow: 20px 20px 50px 1px grey;
}
.para-box {
    /* background-color:lightgreen; */
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}
.highlights-box {
    /* background-color: lightgreen; */
    text-align: justify;
    margin-top: 50px;
    margin-left: 20px;
}
.highlights-box > ul {
    list-style: none;
}

.highlights-box  ul li::before {
    color :orangered;
    content: "\2022";
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -2em;
   
}
.btn-box {
    /* background-color: lightgreen; */
    margin-top: 20px;
    display:flex;
    /* justify-content:space-evenly; */
    /* margin-left: -30px; */
}
.fbtn {
    background-color: rgb(85, 233, 85);
    padding: 7px 7px;
    margin-right: 50px;
    margin-left: 20px;

}
.sbtn {
    /* background-color:rgb(240, 96, 44); */
    background-color: #080e2c;
    padding: 7px 7px;
    color:white;
}
.fbtn:hover {
    cursor: pointer;
    background:white;
    border:2px solid rgb(247, 231, 12);
}
.sbtn:hover {
    cursor: pointer;
    background:white;
    border:1px solid rgb(88, 233, 88);

}