#contact {
  border:2px solid rgb(210, 208, 208);
  height: 100vh;
  width: 100%;
  box-shadow: 20px 20px 50px 1px rgb(133, 132, 132);
  margin-top: 50px;
}
.text > h2 {
  font-family: "Helvetica Neue";
  font-weight: 600;
  margin-top: 10px;
}
.text >p {
  color:gray;
  font-weight: 600;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    resize: vertical;
  }
   form {
     margin-right: 30px;
    
   }
  input[type=submit] {
    background-color: #04AA6D;
    padding: 12px 40px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    letter-spacing:1px;
    color: black;
    border-radius:5px  ;
}
  input[type=submit]:hover {
    background-color:black;
    color:yellow; 
  }
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px 50px;
  }
  
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }