*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f3f0f0
}
.container {
    /* margin-top: 20px; */
    left: 0px;
    width: 1440px;
    /* height: 1050px; */
    background: #F7F7F7 0% 0% no-repeat padding-box;
    opacity: 1;
    border:1px solid green;
    cursor: pointer;
}
.logo-box {
    margin: auto;
    margin-top: 85px;
    margin-left:185px;
    text-align: center;

}

.daamlogo {
    /* border: 1px solid #000; */
    width:200px;
}
.heading {
    margin-top: 25px;
    margin-left: 177px;
    /* width: 291px; */
    /* height: 51px; */
    /* UI Properties */
    /* color: var(--unnamed-color-2f3234); */
    /* text-align: left; */
    /* font: normal normal medium 34px/106px Oswald; */
    /* letter-spacing: 1.02px; */
    color: #2F3234;
    opacity: 1;
    font-size: 20px;
    font-weight: bold;
}
.para {
    text-align: center;
    font-size:12px;
    font-weight:500;
    margin-top: 9px;
    margin-left: 28px;
    color: var(--unnamed-color-1a1d1f);
    /* font: normal normal medium 16px/24px Lato; */
    letter-spacing: 0px;
    color: #1A1D1F;
    opacity: 1;
    font-family: 'Oswald';
}
.userTypeBody {
    /* margin-top: 50px; */
    /* margin-left: 10px; */
    width:60%;
    height:250px;
    margin: auto;
    /* border: 1px solid #000; */
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.card {
    border: 1px solid #797171;
    box-shadow: 1px 1px 2PX 1px #D3CDCD;
    width:9rem;
}
.card:hover { 
    cursor: pointer;

}
.createAccount {
   width:60%;
   margin: auto;
   text-align: center;
  
}
.createAccount > button {
   font-size: normal;
   font-weight:bold;
   border-radius: 20px;
   padding: 10px 0px;
   font-family: 'Oswald';
}
.createAccount > button:hover {
    background:#F7F7F7 ;
    color:black;
    cursor: pointer;
    transform: scale(1);
    transition:0.7s ease-out;
}

.card-img {
    width: 30%;
    height:38px;
    align-items: center;
    margin: auto;
    /* border: 1px solid #000; */
    border-radius: 50%;
}
.card-body{
    text-align: center;
}
.card-title { 
    font-weight: 550;
    font-family: 'Oswald';
}